
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    
}

.container{
    width: 800px;
    display: flex;
    flex-direction: row;
    border-radius: 0.5em;
    overflow: hidden;
}
.container .row{
    padding: 40px 40px;
    line-height: 2rem;
    color: #fff;
}
.row p{
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom:4rem;
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 300;
}
h1{
    font-family: 'Big Shoulders Display',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.container button{
    border-radius: 2em;
    border:none;
    padding: 10px 25px;
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 400;
}

.container .sedans{
    background-color: hsl(31, 77%, 52%);
}
.sedans button{
    color:hsl(31, 77%, 52%);
    cursor: pointer;
}
.sedans button:hover{
    background-color: hsl(31, 77%, 52%);
    color:#fff;
    border: 1px solid #fff;
}
.container .suvs{
    background-color: hsl(184, 100%, 22%);
}
.suvs button{
    color:hsl(184, 100%, 22%);
    cursor: pointer;
}
.suvs button:hover{
    background-color: hsl(184, 100%, 22%);
    color:#fff;
    border: 1px solid #fff;
}
.container .luxury{
    background-color: hsl(179, 100%, 13%);
}
.luxury button{
    color: hsl(179, 100%, 13%);
    cursor: pointer;
}
.luxury button:hover{
    background-color: hsl(179, 100%, 13%);
    color: #fff;
    border: 1px solid #fff;

}

@media (max-width: 700px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}